<%= link_to "new Diary", new_diary_path, class: "btn btn-info" %>

<div class="row">
 <% @diary.each do |d| %>
  <div class="col-sm-3">
     <div class="card mb-3" style="width: 15rem;">
       <div class="card-block">
      <h5 class="card-title"><%= d.display_date %></h5>
      <%= link_to "Show Diary", diary_path(d.id), class: "btn btn-primary" %>
       </div>
       </div>
    </div>
  <% end %>
</div>


